/*  ***o_o*** Custom Propierties ***o_o*** */

$first-color: rgb(0, 105, 153);
$first-alpha-color: rgba(0, 105, 153, 0.75);
$second-color: rgb(20, 25, 45);
$second-alpha-color: rgba(20, 25, 45, 0.75);

$footer-color: rgb(33, 37, 41);

$bg-color: rgb(245, 245, 245);
$bg-alpha-color: rgba(245, 245, 245, 0.75);
$bs-white: rgb(255, 255, 255);

$form-text-color: rgb(102, 102, 102);
$form-success-color: rgb(76, 175, 80);
$form-error-color: rgb(244, 67, 54);
$form-border-color: rgb(34, 34, 34);

$box-shadow-focus-footer: 0 0 0 rgb(33, 37, 41);
