@use "../utilities/variables";

/* **0_0 ** Layout Contacto **o_o** */

.bg-gradient-blue-light {
  background: linear-gradient(
    135deg,
    rgba(8, 125, 137, 1) 0%,
    rgba(227, 227, 232, 0.71) 100%,
    rgba(0, 168, 255, 1) 100%
  );
}

.contact-form > * {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-family: sans-serif;
  font-size: 1rem;
  color: variables.$form-text-color;
  caret-color: variables.$first-color;
  border: none;
  border-radius: 0.25rem;
}

.contact-form > *::placeholder {
  color: variables.$first-color;
}

@mixin contact-form {
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  color: variables.$bg-color;
  background-image: linear-gradient(
    to right,
    rgb(255, 207, 220),
    rgb(238, 130, 238),
    rgb(189, 224, 254),
    rgb(162, 210, 255)
  );
  background-size: 300% 100%;
  transition: background-position 0.5s ease-in-out;
  &:hover {
    background-position: 100% 0;
    opacity: 75%;
    cursor: pointer;
  }
}

.contact-form > *[required]:invalid {
  border: thin solid variables.$form-error-color;
}

.contact-form > *[required]:valid {
  border: thin solid variables.$form-success-color;
}

.contact-form textarea {
  resize: none;
}

.contact-form input[type="reset"] {
  width: 60%;
  margin-bottom: 1;
  @include contact-form;
}

.contact-form input[type="submit"] {
  width: 30%;
  margin-bottom: 0;
  @include contact-form;
}
